*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#lifeBar{
    width: 100%;
    height: 500px;
    border:solid rgb(255, 255, 255) 2px ;
    display: flex;
    justify-content:center;
    align-items: center;
}
body{
    background-color:#08405d;
}

#lifePlayeur{
    margin: 10px;
    width: 30%;
    text-align: center;
}
#lifeMonster{
    margin: 10px;
    width: 30%;
    text-align: center;
}
span{
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    background-color: green;
}
#btnAction{
    margin-top: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
button{
    border-radius: 20px;
    height: 80%;
    width: 10%;
}

button:hover{
    cursor: pointer;
    font-size: 1.2em;
}
button.attack{
    background-color: red;
}
button.specialAttack{
    background-color: orange;
}
button.Heal{
    background-color: green;
}
h1{
    color: whitesmoke;
}
span.playeur{
    background-color:blueviolet;
    width: 40%;
    text-align: center;
}
span.monster{
    background-color: burlywood;
    width: 40%;
    text-align: center;

}

.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.spritePlayeur img{
    padding-bottom: 40px;
    height:200px;
}
.spritMonster img{
    height: 200px;
    transform: scaleX(-1);
    
}